/*-----------------------------------------------------------------------------------*/
/*  SVG
/*-----------------------------------------------------------------------------------*/

@-webkit-keyframes animate-svg-stroke-1 {
  0% {
    stroke-dashoffset: 1209.49609375px;
    stroke-dasharray: 1209.49609375px;
  }

  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes animate-svg-stroke-1 {
  0% {
    stroke-dashoffset: 1209.49609375px;
    stroke-dasharray: 1209.49609375px;
  }

  100% {
    stroke-dashoffset: 0;
  }
}

.svg-elem-1 {
  -webkit-animation: animate-svg-stroke-1 1s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0s both;
          animation: animate-svg-stroke-1 1s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0s both;
}

@-webkit-keyframes animate-svg-stroke-2 {
  0% {
    stroke-dashoffset: 11.333943367004395px;
    stroke-dasharray: 11.333943367004395px;
  }

  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes animate-svg-stroke-2 {
  0% {
    stroke-dashoffset: 11.333943367004395px;
    stroke-dasharray: 11.333943367004395px;
  }

  100% {
    stroke-dashoffset: 0;
  }
}

.svg-elem-2 {
  -webkit-animation: animate-svg-stroke-2 1s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.12s both;
          animation: animate-svg-stroke-2 1s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.12s both;
}

@-webkit-keyframes animate-svg-stroke-3 {
  0% {
    stroke-dashoffset: 66.38374328613281px;
    stroke-dasharray: 66.38374328613281px;
  }

  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes animate-svg-stroke-3 {
  0% {
    stroke-dashoffset: 66.38374328613281px;
    stroke-dasharray: 66.38374328613281px;
  }

  100% {
    stroke-dashoffset: 0;
  }
}

.svg-elem-3 {
  -webkit-animation: animate-svg-stroke-3 1s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.24s both;
          animation: animate-svg-stroke-3 1s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.24s both;
}

@-webkit-keyframes animate-svg-stroke-4 {
  0% {
    stroke-dashoffset: 19.53580665588379px;
    stroke-dasharray: 19.53580665588379px;
  }

  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes animate-svg-stroke-4 {
  0% {
    stroke-dashoffset: 19.53580665588379px;
    stroke-dasharray: 19.53580665588379px;
  }

  100% {
    stroke-dashoffset: 0;
  }
}

.svg-elem-4 {
  -webkit-animation: animate-svg-stroke-4 1s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.36s both;
          animation: animate-svg-stroke-4 1s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.36s both;
}

@-webkit-keyframes animate-svg-stroke-5 {
  0% {
    stroke-dashoffset: 456.0245666503906px;
    stroke-dasharray: 456.0245666503906px;
  }

  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes animate-svg-stroke-5 {
  0% {
    stroke-dashoffset: 456.0245666503906px;
    stroke-dasharray: 456.0245666503906px;
  }

  100% {
    stroke-dashoffset: 0;
  }
}

.svg-elem-5 {
  -webkit-animation: animate-svg-stroke-5 1s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.48s both;
          animation: animate-svg-stroke-5 1s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.48s both;
}

@-webkit-keyframes animate-svg-stroke-6 {
  0% {
    stroke-dashoffset: 3302.697998046875px;
    stroke-dasharray: 3302.697998046875px;
  }

  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes animate-svg-stroke-6 {
  0% {
    stroke-dashoffset: 3302.697998046875px;
    stroke-dasharray: 3302.697998046875px;
  }

  100% {
    stroke-dashoffset: 0;
  }
}

.svg-elem-6 {
  -webkit-animation: animate-svg-stroke-6 1s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.6s both;
          animation: animate-svg-stroke-6 1s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.6s both;
}

@-webkit-keyframes animate-svg-stroke-7 {
  0% {
    stroke-dashoffset: 597.6353759765625px;
    stroke-dasharray: 597.6353759765625px;
  }

  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes animate-svg-stroke-7 {
  0% {
    stroke-dashoffset: 597.6353759765625px;
    stroke-dasharray: 597.6353759765625px;
  }

  100% {
    stroke-dashoffset: 0;
  }
}

.svg-elem-7 {
  -webkit-animation: animate-svg-stroke-7 1s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.72s both;
          animation: animate-svg-stroke-7 1s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.72s both;
}

@-webkit-keyframes animate-svg-stroke-8 {
  0% {
    stroke-dashoffset: 731.0374755859375px;
    stroke-dasharray: 731.0374755859375px;
  }

  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes animate-svg-stroke-8 {
  0% {
    stroke-dashoffset: 731.0374755859375px;
    stroke-dasharray: 731.0374755859375px;
  }

  100% {
    stroke-dashoffset: 0;
  }
}

.svg-elem-8 {
  -webkit-animation: animate-svg-stroke-8 1s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.84s both;
          animation: animate-svg-stroke-8 1s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.84s both;
}

@-webkit-keyframes animate-svg-stroke-9 {
  0% {
    stroke-dashoffset: 379.315185546875px;
    stroke-dasharray: 379.315185546875px;
  }

  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes animate-svg-stroke-9 {
  0% {
    stroke-dashoffset: 379.315185546875px;
    stroke-dasharray: 379.315185546875px;
  }

  100% {
    stroke-dashoffset: 0;
  }
}

.svg-elem-9 {
  -webkit-animation: animate-svg-stroke-9 1s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.96s both;
          animation: animate-svg-stroke-9 1s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.96s both;
}

@-webkit-keyframes animate-svg-stroke-10 {
  0% {
    stroke-dashoffset: 194.5485076904297px;
    stroke-dasharray: 194.5485076904297px;
  }

  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes animate-svg-stroke-10 {
  0% {
    stroke-dashoffset: 194.5485076904297px;
    stroke-dasharray: 194.5485076904297px;
  }

  100% {
    stroke-dashoffset: 0;
  }
}

.svg-elem-10 {
  -webkit-animation: animate-svg-stroke-10 1s cubic-bezier(0.175, 0.885, 0.32, 1.275) 1.08s both;
          animation: animate-svg-stroke-10 1s cubic-bezier(0.175, 0.885, 0.32, 1.275) 1.08s both;
}